.f1c1ecd07a390bed57a63f-heroene-icon {
    position: absolute;
    width: 100%;
    top: 0px;
    right: 0px;
    left: 0px;
    border-radius: 24px;
    max-width: 100%;
    overflow: hidden;
    height: 412px;
    object-fit: cover;
}

.f1c1ecd07a390bed57a63f-heroene-wrapper {
    width: 544px;
    position: relative;
    height: 412px;
}

.about-us {
    align-self: stretch;
    position: relative;
    text-decoration: underline;
    display: flex;
    align-items: center;
    height: 53px;
    flex-shrink: 0;
}

.at-voltair-we {
    margin: 0;
}

.at-voltair-we-container {
    align-self: stretch;
    position: relative;
    font-size: 16px;
    line-height: 25.89px;
    font-family: Inter;
    color: #3f3f3f;
}

.about-us-parent {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 12px;
}

.frame-wrapper {
    width: 660px;
    height: 412px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.group-parent {
    position: absolute;
    top: 942px;
    left: calc(50% - 622px);
    width: 1243px;
    height: 412px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 39px;
    color: #131313;
}

.frame-container {
    width: 563px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.f1c1ecd07a390bed57a63f-heroene-icon1 {
    position: absolute;
    width: 100%;
    top: 0px;
    right: 0px;
    left: 0px;
    border-radius: 24px;
    max-width: 100%;
    overflow: hidden;
    height: 500px;
    object-fit: cover;
}

.f1c1ecd07a390bed57a63f-heroene-container {
    width: 536px;
    position: relative;
    height: 500px;
}

.frame-parent {
    position: absolute;
    top: 1576px;
    width: 1243px;
    left: calc(50% - 622px);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 144px;
    color: #131313;
}

.background-icon {
    position: absolute;
    height: 2.38%;
    width: 100.07%;
    top: 720px;
    right: 16.97%;
    bottom: 81.58%;
    left: 2.96%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: contain;

}

.background-icon1 {
    position: absolute;
    height: 2.55%;
    width: 100.06%;
    top: 16.45%;
    right: -0.09%;
    bottom: 81%;
    left: 0.04%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: contain;
}

.smart-monitoring-accurate-container1 {
    width: 100%;
}

.smart-monitoring-accurate-container {
    position: absolute;
    top: -45px;
    left: calc(50% - 317.75px);
    line-height: 70.4px;
    font-weight: 500;
    display: flex;
    align-items: center;
    width: 617px;
    height: 148px;
}

.heading-1 {
    align-self: stretch;
    position: relative;
    height: 140.8px;
}

.cell-voltage-to {
    align-self: stretch;
    position: absolute;
    top: 110px;
    font-size: 20px;
    line-height: 29.12px;
    font-family: Inter;
    display: flex;
    align-items: center;
    height: 29px;
    flex-shrink: 0;
}

.frame-child {
    width: 144px;
    position: relative;
    height: 50px;
}

.final-draft-inner {
    position: absolute;
    top: 481px;
    left: 42px;
    width: 635.5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    font-size: 64px;
}

.f1b100a5a6f8165f39a990-heroene-icon {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: auto;
    max-width: 1519px;
    max-height: 768px;
    overflow: hidden;
    object-fit: cover;
}

.gradientoverlay {
    position: absolute;
    height: 100%;
    top: 0px;
    bottom: 0px;
    left: 0px;
    background: linear-gradient(87.36deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0)), rgba(0, 0, 0, 0.2);
    /* width: 1440px; */
}

.container-inner {
    position: absolute;
    top: 522px;
    left: 64px;
    width: 635.5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

/* .container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
    width: 100%;
    box-sizing: border-box;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 768px;
    overflow: hidden;
    font-size: 64px;
} */

.container1 {
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 768px;
    overflow: hidden;
    font-size: 64px;
}

.background {
    position: absolute;
    height: 22.73%;
    width: 3.99%;
    top: -168px;
    right: -4.64%;
    bottom: 81.04%;
    left: 100.65%;
    background-color: #c09c2e;
    transform: rotate(4.1deg);
    transform-origin: 0 0;
}

.dust {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 40px;
    width: 1519px;
    height: 1498px;
}

.dust-wrapper {
    position: absolute;
    top: 2138px;
    left: 0px;
    width: 1519px;
    height: 1498px;
}

.new-project1-1 {
    position: absolute;
    top: 2138px;
    left: 0px;
    width: 100%;
    height: 43px;
    object-fit: cover;
}

.new-project1-2 {
    position: absolute;
    top: 3580px;
    left: 0px;
    width: 100%;
    height: 43px;
    object-fit: cover;
}

.get-in-touch {
    position: absolute;
    top: 13.14px;
    left: 0px;
    display: flex;
    align-items: center;
    width: 286.7px;
    height: 53.6px;
}

.heading-13 {
    align-self: stretch;
    position: relative;
    height: 57px;
}

.for-any-questions {
    align-self: stretch;
    position: relative;
    font-size: 16px;
    line-height: 25.89px;
    font-family: Inter;
    display: flex;
    align-items: center;
    height: 50px;
    flex-shrink: 0;
}

.heading-1-parent1 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 26px;
}

.bxsphone-call-icon {
    position: absolute;
    top: 1px;
    left: 0px;
    width: 24px;
    height: 24px;
    overflow: hidden;
}

.div {
    position: absolute;
    top: 0px;
    left: 49px;
    line-height: 25.89px;
}

.bxsphone-call-parent {
    width: 181px;
    position: relative;
    height: 26px;
}

.icsharp-email-parent {
    width: 258px;
    position: relative;
    height: 26px;
}

.carbonlocation-filled-icon {
    width: 24px;
    position: relative;
    height: 24px;
    overflow: hidden;
    flex-shrink: 0;
}

.near-ganesh-nagar {
    width: 309px;
    position: relative;
    line-height: 25.89px;
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

.carbonlocation-filled-parent {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

.group-parent1 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 356px;
    height: 133px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.group-div {
    width: 356px;
    position: relative;
    height: 133px;
    font-size: 16px;
    font-family: Inter;
}

.frame-parent1 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 42px;
}

.follow-us-on {
    position: relative;
    font-weight: 500;
}

.socials-icondarkdefaultface {
    width: 24px;
    position: relative;
    height: 24px;
    overflow: hidden;
    flex-shrink: 0;
    display: none;
}

.socials-icondarkdefaultinst {
    width: 24px;
    position: relative;
    height: 24px;
    overflow: hidden;
    flex-shrink: 0;
    object-fit: cover;
    display: none;
}

.socials-icondarkdefaulttwit {
    width: 32px;
    position: relative;
    height: 32px;
    overflow: hidden;
    flex-shrink: 0;
    object-fit: cover;
}

.social-icons {
    width: 98px;
    height: 43px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.follow-us-on-parent {
    height: 83px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    font-size: 32px;
    font-family: Inter;
}

.frame-div {
    width: 399px;
    height: 527px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 66px;
}

.full-name {
    align-self: stretch;
    position: relative;
    text-transform: capitalize;
}

.container2 {
    flex: 1;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.input {
    align-self: stretch;
    border-radius: 10px;
    border: 1px solid #c09c2e;
    box-sizing: border-box;
    height: 61.6px;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 20px 30.8px;
    min-height: 56px;
}

.ouiarrow-down-icon {
    width: 16px;
    position: relative;
    height: 16px;
    overflow: hidden;
    flex-shrink: 0;
}

.input3 {
    align-self: stretch;
    border-radius: 10px;
    border: 1px solid #c09c2e;
    box-sizing: border-box;
    height: 118px;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 20px 30.8px;
    min-height: 56px;
}

.input-parent {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
}

.frame-wrapper1 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.submit {
    position: absolute;
    top: 11.56px;
    left: calc(50% - 37.84px);
    line-height: 30px;
    font-weight: 600;
}

.input4 {
    width: 201px;
    position: relative;
    border-radius: 6px;
    background-color: #c09c2e;
    height: 54px;
    overflow: hidden;
    flex-shrink: 0;
    text-align: center;
    font-size: 20px;
    color: #fff;
    font-family: Montserrat;
}

.frame-parent2 {
    width: 571.3px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 42px;
    font-size: 18px;
    font-family: Lato;
}

.frame-group {
    position: absolute;
    top: 89px;
    left: calc(50% - 619.44px);
    height: 520.1px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 267px;
}

.section {
    position: absolute;
    top: 0px;
    left: calc(50% - 699.45px);
    background-color: #fff;
    width: 1398.9px;
    height: 697px;
    opacity: 0.95;
}

.section-wrapper {
    position: absolute;
    top: 43px;
    left: calc(50% - 717.5px);
    width: 1398.9px;
    height: 697px;
}

.dust1 {
    position: absolute;
    top: 740px;
    left: 33.38px;
    border-radius: 40px;
    width: 740px;
    height: 1401.6px;
    transform: rotate(-90deg);
    transform-origin: 0 0;
    opacity: 0.4;
}

.group-container {
    position: absolute;
    top: 3593px;
    left: calc(50% - 720px);
    width: 1435px;
    height: auto;
    color: #131313;
}

.new-logo-5-1 {
    width: 82.5px;
    position: relative;
    height: 52px;
    object-fit: cover;
}

.home {
    position: relative;
    line-height: 20.8px;
    font-weight: 500;
}

.home-parent {
    align-self: stretch;
    width: 531px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.copyright-2020 {
    position: relative;
    font-size: 16px;
    font-weight: 500;
    font-family: 'DM Sans';
    mix-blend-mode: normal;
}

.new-logo-5-1-parent {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.footer {
    position: absolute;
    top: 4261px;
    /* left: calc(50% - 720px); */
    border-radius: 48px 48px 0px 0px;
    background-color: #c09c2e;
    border-top: 0.8px solid #3f3f3f;
    box-sizing: border-box;
    width: 100%;
    height: 92px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 104px;
    font-size: 20px;
    color: #000;
    font-family: Inter;
}

.background-icon2 {
    position: absolute;
    height: 100%;
    width: 219.18%;
    top: 0%;
    right: -119.18%;
    bottom: 0%;
    left: 0%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
}

.photo-1569470451072-68314f596a-icon {
    position: absolute;
    height: 30.21%;
    width: 109.52%;
    top: 0%;
    right: -9.52%;
    bottom: 69.79%;
    left: 0%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
}

.photo-1569470451072-68314f596a-icon1 {
    position: absolute;
    height: 30.21%;
    width: 109.52%;
    top: 0%;
    right: -119.04%;
    bottom: 69.79%;
    left: 109.52%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
}

.photo-1569470451072-68314f596a-icon2 {
    position: absolute;
    height: 30.21%;
    width: 109.52%;
    top: 29.56%;
    right: -9.52%;
    bottom: 40.23%;
    left: 0%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
}

.photo-1569470451072-68314f596a-icon3 {
    position: absolute;
    height: 30.21%;
    width: 109.52%;
    top: 29.56%;
    right: -119.04%;
    bottom: 40.23%;
    left: 109.52%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
}

.photo-1569470451072-68314f596a-icon4 {
    position: absolute;
    height: 30.21%;
    width: 109.52%;
    top: 59.34%;
    right: -9.52%;
    bottom: 10.46%;
    left: 0%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
}

.photo-1569470451072-68314f596a-icon5 {
    position: absolute;
    height: 30.21%;
    width: 109.52%;
    top: 59.34%;
    right: -119.04%;
    bottom: 10.46%;
    left: 109.52%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
}

.photo-1569470451072-68314f596a-icon6 {
    position: absolute;
    height: 30.21%;
    width: 109.52%;
    top: 88.9%;
    right: -9.52%;
    bottom: -19.1%;
    left: 0%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
}

.photo-1569470451072-68314f596a-icon7 {
    position: absolute;
    height: 30.21%;
    width: 109.52%;
    top: 88.9%;
    right: -119.04%;
    bottom: -19.1%;
    left: 109.52%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
}

.new-project-1-child {
    position: absolute;
    top: 195px;
    left: 70px;
    width: 1385px;
    height: 541px;
}

.our-services {
    width: 1335px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 64px;
    flex-shrink: 0;
}

.our-services-wrapper {
    width: 1336px;
    border-radius: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.recycling-battery-services {
    position: relative;
    line-height: 44.8px;
    font-weight: 500;
}

.container6 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.frame-item {
    align-self: stretch;
    position: relative;
    border-top: 1px solid #c09c2e;
    box-sizing: border-box;
    height: 1px;
}

.container-parent {
    position: absolute;
    top: 19.8px;
    left: 18.84px;
    width: 390px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 14px;
}

.we-offer-a {
    align-self: stretch;
    position: relative;
    font-size: 15px;
}

.container7 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 0px 0px 0.7px;
}

.container-wrapper {
    position: absolute;
    top: 97.8px;
    left: 20.5px;
    width: 388px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-align: center;
    font-size: 16px;
    color: #3f3f3f;
}

.background1 {
    align-self: stretch;
    position: relative;
    border-radius: 12px;
    background-color: #fff;
    border: 5px solid #c09c2e;
    box-sizing: border-box;
    height: 209px;
}

.s-12s-battery-disposal {
    position: relative;
    line-height: 23.8px;
}

.border {
    width: 356px;
    border-radius: 40px;
    background-color: #fff;
    border: 5px solid #c09c2e;
    box-sizing: border-box;
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20.8px 24.8px;
}

.border-parent {
    width: 356px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 12px 20px;
    font-size: 14px;
    color: #000;
}

.background-parent {
    width: 426px;
    border-radius: 12px;
    height: 472px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
}

.frame-inner {
    align-self: stretch;
    position: relative;
    border-top: 1px solid #cfa371;
    box-sizing: border-box;
    height: 1px;
}

.container-group {
    position: absolute;
    top: 18px;
    left: calc(50% - 195px);
    width: 390px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 14px;
}

.container-container {
    position: absolute;
    top: 97.8px;
    left: 20.5px;
    width: 388px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    font-size: 16px;
    color: #3f3f3f;
}

.background2 {
    align-self: stretch;
    position: relative;
    border-radius: 12px;
    background-color: #fff;
    border: 1px solid #cfa371;
    box-sizing: border-box;
    height: 198px;
}

.login-password {
    position: relative;
    line-height: 24px;
}

.border4 {
    width: 415px;
    border-radius: 40px;
    background-color: #fff;
    border: 1px solid #cfa371;
    box-sizing: border-box;
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20.8px 24.8px;
}

.border5 {
    width: 214px;
    border-radius: 40px;
    background-color: #fff;
    border: 1px solid #cfa371;
    box-sizing: border-box;
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20.8px 24.8px;
}

.border6 {
    width: 178px;
    border-radius: 40px;
    background-color: #fff;
    border: 1px solid #cfa371;
    box-sizing: border-box;
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20.8px 24.8px;
}

.border7 {
    width: 204px;
    border-radius: 40px;
    background-color: #fff;
    border: 1px solid #cfa371;
    box-sizing: border-box;
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20.8px 24.8px;
}

.border8 {
    width: 188px;
    border-radius: 40px;
    background-color: #fff;
    border: 1px solid #cfa371;
    box-sizing: border-box;
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20.8px 24.8px;
}

.border9 {
    width: 418px;
    border-radius: 40px;
    background-color: #fff;
    border: 1px solid #cfa371;
    box-sizing: border-box;
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20.8px 24.8px;
}

.border-group {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 12px 20px;
    font-size: 15.38px;
    color: #000;
}

.background-group {
    width: 426px;
    border-radius: 12px;
    background-color: #c09c2e;
    height: 472px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 6px 6px 0px;
    box-sizing: border-box;
    gap: 20px;
    color: #cfa371;
}

.container-parent1 {
    position: absolute;
    top: 20px;
    left: 19px;
    width: 356px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 14px;
}

.container-frame {
    position: absolute;
    top: 98px;
    left: 21px;
    width: 357px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-align: center;
    font-size: 16px;
    color: #3f3f3f;
}

.border10 {
    align-self: stretch;
    border-radius: 40px;
    background-color: #fff;
    border: 5px solid #c09c2e;
    box-sizing: border-box;
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20.8px 24.8px;
}

.border-container {
    width: 356px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;
    font-size: 14px;
    color: #000;
}

.background-container {
    width: 399px;
    border-radius: 12px;
    height: 472px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
}

.frame-parent4 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 39px;
    text-align: left;
    font-size: 24px;
    font-family: Inter;
}

/* .frame-parent3 {
    position: absolute;
    top: 822px;
    left: calc(50% - 665.5px);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 32px;
} */

.products {
    flex: 1;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 64px;
}

.products-wrapper {
    width: 1385px;
    border-radius: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.frame-wrapper3 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.f1c6e99ad8253c9561fb03-solarro-icon {
    width: 452px;
    position: relative;
    border-radius: 16px;
    height: 460px;
    overflow: hidden;
    flex-shrink: 0;
    object-fit: cover;
}

.volitor-6s {
    align-self: stretch;
    position: relative;
    text-decoration: underline;
    line-height: 30.8px;
    display: flex;
    align-items: center;
    height: 28px;
    flex-shrink: 0;
}

.our-unique-product-container {
    width: 834px;
    position: relative;
    font-size: 16px;
    line-height: 22.65px;
    font-family: Inter;
    color: #3f3f3f;
    display: flex;
    align-items: center;
    height: 193px;
    flex-shrink: 0;
}

.features {
    align-self: stretch;
    position: relative;
    line-height: 30.6px;
    font-weight: 500;
    display: flex;
    align-items: center;
    height: 30.6px;
    flex-shrink: 0;
}

.total-voltage-of {
    position: relative;
    line-height: 23.8px;
    opacity: 0.7;
}

.background4 {
    border-radius: 100px;
    background-color: rgba(207, 163, 113, 0.1);
    border: 0.5px solid #cfa371;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 3px 16px;
}

.background-parent1 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-content: center;
    gap: 18px;
    font-size: 14px;
    color: #000;
    font-family: Inter;
}

.features-parent {
    width: 740px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 12px;
    font-size: 20px;
    color: #0a0a0a;
}

.volitor-6s-parent {
    position: absolute;
    top: calc(50% - 195px);
    left: calc(50% - 415.5px);
    width: 831px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 24px;
}

.watch-tutorial {
    width: 111px;
    position: relative;
    line-height: 70.4px;
    display: flex;
    align-items: center;
    height: 19px;
    flex-shrink: 0;
}

.watch-tutorial-parent {
    position: absolute;
    top: 405px;
    left: 705px;
    border-radius: 6px;
    background-color: #c09c2e;
    width: 165px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 6px 12px;
    box-sizing: border-box;
    font-size: 16px;
    color: #fff;
    font-family: 'Space Grotesk';
}

.backgroundborder {
    width: 889px;
    position: relative;
    border-radius: 16px;
    background-color: #fff;
    border: 1.5px solid #cfa371;
    box-sizing: border-box;
    height: 460px;
}

.f1c6e99ad8253c9561fb03-solarro-parent {
    align-self: stretch;
    border-radius: 20px;
    background-color: #c09c2e;
    border: 6px solid #c09c2e;
    box-sizing: border-box;
    height: 492px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 16px;
    gap: 16px;
}

.ultrathin {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    backdrop-filter: blur(50px);
    background: linear-gradient(#fff, #fff), rgba(0, 0, 0, 0.44);
}

.platter {
    width: 100%;
    position: absolute;
    margin: 0 !important;
    height: 100%;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    border-radius: 100px;
    overflow: hidden;
    z-index: 0;
}

.dot-1 {
    width: 8px;
    position: relative;
    border-radius: 50px;
    background-color: #000;
    height: 8px;
    z-index: 1;
}

.dot-2 {
    width: 8px;
    position: relative;
    border-radius: 50px;
    background-color: #000;
    height: 8px;
    opacity: 0.3;
    z-index: 2;
}

.dot-3 {
    width: 8px;
    position: relative;
    border-radius: 50px;
    background-color: #000;
    height: 8px;
    opacity: 0.3;
    z-index: 3;
}

.frame {
    backdrop-filter: blur(40px);
    border-radius: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 8px 12px;
    position: relative;
    gap: 8px;
}

.frame-parent6 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 39px;
    text-align: left;
    font-size: 32px;
    color: #cfa371;
    font-family: Montserrat;
}

.frame-parent5 {
    position: absolute;
    top: 99px;
    left: calc(50% - 692.5px);
    width: 1385px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 32px;
}

.new-project-1 {
    position: absolute;
    top: 2181px;
    left: 0px;
    width: 100%;
    /* max-width: 1435px; */
    height: 1400px;
    overflow: hidden;
    text-align: center;
    color: #c09c2e;
}

.new-logo-5-11 {
    width: 63.5px;
    position: relative;
    height: 40px;
    object-fit: cover;
}

.home1 {
    position: absolute;
    top: 0.34px;
    left: -0.24px;
    letter-spacing: 0.25px;
    line-height: 24px;
}

.link {
    position: absolute;
    top: 2.66px;
    left: 0px;
    width: 63.3px;
    height: 24.7px;
}

.item {
    width: 63.3px;
    position: relative;
    border-radius: 4px;
    height: 30px;
    overflow: hidden;
    flex-shrink: 0;
    color: #cfa371;
}

.item1 {
    width: 63.3px;
    position: relative;
    border-radius: 4px;
    height: 30px;
    overflow: hidden;
    flex-shrink: 0;
    cursor: pointer;
}

.link2 {
    position: absolute;
    top: 3px;
    left: -0.07px;
    width: 89px;
    height: 24px;
}

.item2 {
    width: 84px;
    position: relative;
    border-radius: 4px;
    height: 30px;
    overflow: hidden;
    flex-shrink: 0;
}

.service {
    position: absolute;
    top: 0.34px;
    left: -0.24px;
    letter-spacing: 0.25px;
    line-height: 24px;
    font-weight: 500;
}

.item-parent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 40px;
}

.contact-us {
    position: absolute;
    top: 14.4px;
    left: 32px;
    line-height: 16px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 103px;
    height: 19.2px;
}

.link5 {
    width: 166.7px;
    position: relative;
    border-radius: 100px;
    background-color: #c09c2e;
    height: 48px;
    text-align: center;
    font-size: 18px;
    color: #201f1f;
}

.new-logo-5-1-group {
    position: absolute;
    top: 25px;
    left: 50%;
    transform: translateX(-50%);
    /* Center the element properly */
    border-radius: 12px;
    background-color: rgba(29, 29, 29, 0.8);
    width: 90%;
    /* Changed from fixed width to percentage */
    max-width: 1437px;
    /* Added max-width */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 16px 24px;
    box-sizing: border-box;
    font-size: 20px;
    font-family: Montserrat;
}

.final-draft {
    width: 100%;
    position: relative;
    background-color: #fffff5;
    height: auto;
    /* Changed from fixed height */
    overflow-x: hidden;
    /* Prevent horizontal scroll */
    text-align: left;
    font-size: 44px;
    color: #fff;
    font-family: 'Space Grotesk';
}



/* Add a wrapper to control max-width */
.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
    width: 100%;
    box-sizing: border-box;
}

.mobile-footer {
    position: absolute;
    bottom: 0px;

}